.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tasks-table{
    padding: 10px;
    background-color: rgba(250, 255, 177, 0.64);
    margin-bottom: 50px;
}
.tasks-table td {
    padding: 8px;
    border-bottom: 1px dotted black;
}
.task-name {
    min-width: 270px;
}
